// COLORS
$color-white-200: #fff;
$color-white-300: #f0f0f0;
$color-white-500: #b7bcc6;
$color-dark-300: #57606f;
$color-dark-400: #282c33;
$color-primary: #6090eb;
$swatch_5: #7094a2;
$swatch_6: #0fad68;