#root {
  min-height: 100vh;
  padding-block: 4.8rem;
  background-color: rgb(245, 245, 245);
}

.row {
  width: 90%;
  margin: 0 auto;
  max-width: 114rem;
}

.Search {
  width: max-content;

  .search-box {
    gap: 4%;
    width: 100%;
    display: flex;
    padding: 1.2rem;
    margin-top: 1.6rem;
    border-radius: 8px;
    align-items: center;
    background-color: $color-white-200;
    box-shadow: 0px 6px 8px #57606f23;

    &__input {
      gap: 12px;
      width: 26rem;
      display: block;
      padding: 1.2rem;
      font-size: 1.6rem;
      min-height: 4.2rem;
      position: relative;
      font-family: inherit;
      color: $color-dark-300;
      border-radius: inherit;
      background-color: $color-white-300;
      @include media(second-break) {
        width: 100%;
        max-width: 100%;
      }
      label {
        position: absolute;
        left: 2rem;
        top: 52%;
        transform: translate(-50%, -50%);
      }
      input {
        width: 80%;
        height: 100%;
        border: none;
        display: block;
        margin-left: 18%;
        background-color: transparent;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.result-output {
  gap: 8%;
  display: flex;
  height: 60rem;
  overflow: hidden;
  max-height: 70vh;
  min-height: 40rem;
  border-radius: 8px;
  margin-top: 3.2rem;
  align-items: center;
  padding-inline: 1.2rem;
  background-color: $color-white-200;
  box-shadow: 0px 8px 10px #57606f23;

  @include media(first-break) {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0;
    gap: 0;

    & > * {
      flex-basis: 100%;
      flex-grow: 1;
      flex-shrink: 0;
      scroll-snap-align: start;
      scroll-behavior: smooth;
      padding: 0 1.8rem;
    }
  }

  @include media(second-break) {
    margin-top: 2.4rem;
  }
}

.lyrics {
  height: 95%;
  padding: 1.2rem;
  overflow: scroll;
  min-width: 35rem;
  line-height: 160%;
  width: max-content;
  resize: horizontal;
  border-radius: inherit;
  background-color: $color-white-300;

  @include media(first-break) {
    resize: none;
    min-width: 28rem;
    background-color: transparent;
  }
}

.metadata {
  height: 95%;
  padding-block: 1.2rem;
  align-self: flex-start;
  @include media(second-break) {
    overflow: auto;
  }
  &__cover {
    overflow: hidden;
    min-height: 18rem;
    max-width: 18rem;
    border-radius: 8px;
    box-shadow: 0px 6px 8px #57606f23;

    @include media(second-break) {
      max-width: 100%;
      min-height: auto;
    }

    &__title {
      line-height: 160%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button-wrapper {
    margin-top: 1.2rem;

    @include media(second-break) {
      display: block;
      width: 100%;
    }
  }
}

.metadata--wrapper {
  gap: 3.2rem;
  display: flex;

  @include media(second-break) {
    display: block;
    gap: 5%;
  }
}

.error {
  margin-top: 3.2rem;
}

.bio {
  margin-top: 1.8rem;
  height: 100%;
  width: clamp(28rem, 80%, 65ch);
  height: 40vh;
  overflow: auto;
  font-size: 1.4rem;
  padding: 2.2rem;
  padding-left: 0;
  text-align: justify;
  line-height: 160%;

  @include media(first-break) {
    width: 100%;
  }

  @include media(second-break) {
    height: auto;
    text-align: left;
    overflow: hidden;
  }

  &__heading {
    margin-bottom: 1.6rem;
  }
}
